//
   Created by hawang on 12/26/14.

extends ../../layouts/default
block head
   title 课程设置
block neck
   link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')
block body
   div.row
      div.col-sm-6
         div.page-header
            h1 课程设置
         div.media
            a.pull-left(href='#')
               img.media-object(src='/media/Pawn-small.png', alt='萌芽班', style='width: 100px; height: 128px;')
            div.media-body
               h4.media-heading 萌芽班
               p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
         div.media.text-right
            a.pull-right(href='#')
               img.media-object(src='/media/Knight-small.png', alt='入门班', style='width: 100px; height: 128px;')
            div.media-body
               h4.media-heading 入门班
               p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
         div.media
            a.pull-left(href='#')
               img.media-object(src='/media/Bishop-small.png', alt='初级班', style='width: 100px; height: 128px;')
            div.media-body
               h4.media-heading 初级班
               p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
         div.media
            a.pull-right(href='#')
               img.media-object(src='/media/Rook-small.png', alt='中级班', style='width: 100px; height: 128px;')
            div.media-body
               h4.media-heading 中级班
               p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
         div.media.text-right
            a.pull-left(href='#')
               img.media-object(src='/media/Queen-small.png', alt='高级班', style='width: 100px; height: 128px;')
            div.media-body
               h4.media-heading 高级班
               p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
         div.media
            a.pull-right(href='#')
               img.media-object(src='/media/King-small.png', alt='专业班', style='width: 100px; height: 128px;')
            div.media-body
               h4.media-heading 专业班
               p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
      div.col-sm-6.special
         div.page-header
            h1 Prestige Worldwide
         p.lead The first name in entertainment.
         i.fa.fa-volume-up.super-awesome
